.row
  .col-xs-12.col-md-4.col-md-offset-4
    .well#checkout-well
      %h2 Checkout
      %p Enter the UPC code.

      -# = error_messages_for(@donation)
      = simple_form_for @donation do |f|
        = f.input :bottle_id,
          label: "Bottle Code",
          hint: "Case sensitive",
          input_html: { value: @donation.bottle.andand.code },
          as: :string
        = f.input :store, label: 'Store', hint: 'Store where you bought Unify Water'
        = f.hidden_field :user_id
        = f.hidden_field :place_id
        = f.button :submit, :class => "btn btn-info btn-block"
