%h2 Checkout
%p
    -# confirm the country. Fields are hidden. Just show a submit button
    -# = @place.inspect


= simple_form_for @donation do |f|
    = f.input :user_id, :as => :hidden
    = f.input :place_id, :as => :hidden
    = f.input :bottle_id
    = f.button :submit

-# = form_tag("/donations", method: "post") do
-#     = hidden_field_tag(:user_id, @user.id)
-#     = hidden_field_tag(:place_id, @place_id)
