%h2 Checkout
%p
    -# confirm the country. Fields are hidden. Just show a submit button
    -# = @place.inspect


= form_for @donation do |f|
    = f.hidden_field :user_id
    = f.hidden_field :place_id
    = simple_fields_for :bottle_code do |b|
        = b.input :code, :label => "Bottle Code"
    = f.button :submit
